/*
Theme Name: Khô Gà Xé Cay - Ngon - Bổ - Rẻ
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/
#wide-nav .nav li:first-child a:hover {
    color: #F4E995 !important;
}

#wide-nav > .flex-row > .flex-left {
    margin-right: 0px !important;
}

#wide-nav .nav li:first-child {
    line-height: 24px !important;
}

#wide-nav .nav li:first-child:hover {
    background: black !important;
    color: #F4E995 !important;
    line-height: 24px !important;
}

.header-bottom {
    background: #232323 !important;
}

.header:not(.transparent) .header-bottom-nav.nav > li > a {
    color: #ffffff;
    font-family: sans-serif;
}
.page-wrapper {
    padding-top: 2px !important;
}
#wide-nav .nav > li:active {
    background: #0C9300 !important;
    color: white !important;
    line-height: 40px;
}

.current-menu-item a {
    /*background: #0C9300 !important;*/
    /*color: red !important;*/
    /*padding: 13px !important;*/
}

h3.widget-title {
    background: #003f87 important;
}

.single-support {
    margin-left: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.single-support i {
    color: #898989;
    float: left;
    font-size: 30px;
}

.support-text {
    margin-left: 45px;
}

.support-text h6 {
    color: #7e7e7e;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.support-text p {
    line-height: 12px;
    margin: 0;
    color: #898989;
}

.form-flat input:not([type="submit"]) {
    height: 50px;
}

.top-footer .form-flat input:not([type="submit"]) {
    color: #f1f1f1 !important;
}

div.wpcf7-mail-sent-ok {
    color: #f1f1f1;
}

#wide-nav .nav>li {
    margin: 0;
     border-right: 1px solid white !important;
}
#wide-nav .nav>li a:hover {
    color: white !important;
}

.featuretitle {
    text-align: center;
    color: #242d33;
    border-bottom: 1px solid #37af49;
    margin-bottom: 70px;
}

.featuretitle h2 {
    width: 500px;
    margin: auto;
    display: block;
    position: relative;
    top: 14px;
    background: #fff;
    padding: 0 16px;
    font-size: 26px;
    font-weight: 300;
}
.content-member {
    background-color: #fff;
    border-right: 1px solid #e2e2e2;
    /*border-bottom: 1px solid #e2e2e2;*/
    /*border-left: 1px solid #e2e2e2;*/
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;

}
.border-text {
    border:none;
}
.content-member img {
    border-radius: 50px;
}
/*//hieu ung*/
/*.image:hover {*/
    /*!*-webkit-box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75); box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75);*!*/
    /*-webkit-transform: scale(0.8);*/
    /*-ms-transform: scale(0.8);*/
    /*transform: scale(0.8);*/
/*}*/
/*.image {*/
    /*-webkit-box-shadow: 0px 0px 15px 5px rgba(0, 185, 233, .75); box-shadow: 0px 0px 15px 5px rgba(0, 185, 233, .75); -webkit-transition: all 0.7s ease; transition: all 0.7s ease;*/
/*}*/
.herobutton {
    line-height: 1;
    color: #fff;
    background: #37af49;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 7px;
    margin-right: 7px;
    border-radius: 9px;
    padding: 12px 24px;
    font-size: 18px;
    margin-bottom: 15px;
    border-bottom: 0px;
    border: 1px solid #37af49;
    box-shadow: 0px 2px 5px 1px;
    font-weight: 300;
}
.icon-company img{
    margin: auto;
    text-align: center;
}
.flickity-viewport  .content-slider {
    margin-top: 10px;
    padding-top: 10px;
}
.nav .nav-dropdown {
    background-color: #e21f1f !important;
}
.searchform .flex-grow .search-field {
    width: 270px;
}
.widget-h3 {
    background: #37AF49;line-height: 34px;padding-left: 10px;padding-top: 3px;border-left: 10px solid #252424;letter-spacing: 0;
}
/*end hieu ung*/
@media only screen and (max-width: 48em) {
    /*************** ADD MOBILE ONLY CSS HERE  ***************/
    .catelogy-section .catelogy-title-left {
        width: 100%
    }

}